---
layout: default
title: Energiekostenpauschale für Unternehmen
---

<div class="bg-light">
  <div class="container p-lg-5 mx-auto mb-5 text-center">
      <h1 class="display-1 uppercase">
        Die<br />
        Energiekostenpauschale<br/>
        FÜR KLEINUNTERNEHMEN
      </h1>
  </div>
</div>

{% assign sections = site.sections | sort: 'order' %}
{% for section in sections %}
  {% if section.include != null %}
    {% include {{ section.include }} %}
  {% else %}
    {% include sections/default.html %}
  {% endif %}
{% endfor %}
