<section id="{{ section.title | slugify }}" class="content-section"{{ bg-image-style }}>
  <div class="container">
    <div class="row">
      <div class="col-xl-3">
        <ul class="list-group list-group-flush">
          {% for section in sections %}
          {% if section.hidelink == nil or section.hidelink == false %}
            <li class="list-group-item"><a href="#{{ section.title | slugify }}">{{ section.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-xl-9">
        <h2>{{ section.title }}</h2>
        {{ section.content }}
      </div>
    </div>
  </div>
</section>
