<div class="bg-light p-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-9">
        <nav class="mb-5">
          {% for item in site.data.footer_navigation %}
            {% if forloop.index > 1 %} | {% endif %}
            <a href="{{ item.link }}"{% if page.url == item.link %}class="current"{% endif %}>
              {{- item.name-}}
            </a>
          {% endfor %}
        </nav>
        <div class="row mb-5">
          <div class="col">LOGO BMAW</div>
<div class="col">Datenstand: {{ "now" | in_time_zone: "Europe/Vienna" | date: "%Y-%m-%d %H:%M %Z" }}</div>
          <div class="col">LOGO FFG</div>
        </div>
      </div>
    </div>
  </div>
</div>
